.navbar-component {
  &,
  .navbar {
    width: 100%;
    align-items: center;

    box-sizing: border-box;
    padding: 0.6rem;

    background-color: rgb(29, 29, 29);

    &__list {
      display: flex;
      justify-content: flex-start;

      width: 100%;

      list-style-type: none;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 3px;
      padding: 0 1rem;
      margin: 0;

      text-transform: uppercase;
      color: whitesmoke;
      font-size: 0.8rem;

      & a {
        transition: 0.3s;
        &:hover {
          text-shadow: 2px 2px 0px #d47fa4;
        }
      }

      &--left {
        margin-left: auto;
      }
    }
  }

  .active-link {
    color: grey;
    pointer-events: none;
  }
}
