<div class="recipes-component container">
  <h2 class="title">Lista przepisów:</h2>

  <app-tooltip></app-tooltip>

  <ul class="recipes">
    <li *ngFor="let recipe of recipes" class="recipes__list-item">
      <div class="recipes__item" routerLink="/details/{{recipe.id}}">

        <a appTooltip>{{recipe.title}}


          <ng-template #tooltipTemplate>
            <div class="tooltip">
              <div class="tooltip__arrow"></div>
              XXX: {{recipe.title}}
            </div>
          </ng-template>

        </a>
      </div>
    </li>
  </ul>
</div>
