.recipes-component {
  & .recipes {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;

    &__item {
      display: inline-flex;
      align-content: center;
      justify-content: center;

      list-style-type: none;

      margin: 0.2rem;

      height: 100px;
      width: 100px;

      background: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
      transition: 0.3s;
      cursor: pointer;

      & a {
        margin: auto;
      }

      &:hover {
        filter: contrast(200%);
      }
    }

    &__list-item {
      list-style-type: none;
      margin: auto;
    }
  }
}
