.recipe-search-component {
  transition: 0.3s;
  .search-result {
    & li {
      border-bottom: 1px solid gray;
      border-left: 1px solid gray;
      border-right: 1px solid gray;

      padding: 0.3rem;
      background: white;
      list-style-type: none;
      transition: 0.2s;

      cursor: pointer;

      & a {
        color: #888;
        display: block;
        transition: 0.2s;

        &:hover,
        &:active {
          color: pink;
        }
      }
    }
  }
}
