@import "../../../global/styles/variables.scss";

.loader-component {
  @include font-alternative;

  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  transition: 0.2s;
  background-image: linear-gradient(-225deg, #2cd8d5 0%, #c5c1ff 56%, #ffbac3 100%);
  background-size: 400% 400%;

  font-size: 2rem;
  animation: Gradient 15s ease infinite;

  opacity: 1;

  &--hidden {
    opacity: 0;
    display: none;
  }

  .lds-heart {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    transform: rotate(45deg);
    transform-origin: 32px 32px;

    & div {
      top: 23px;
      left: 19px;
      position: absolute;
      width: 26px;
      height: 26px;
      background: #fff;
      animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);

      &:before,
      &:after {
        content: " ";
        position: absolute;
        display: block;
        width: 26px;
        height: 26px;
        background: #fff;
      }

      &:before {
        left: -17px;
        border-radius: 50% 0 0 50%;
      }

      &:after {
        top: -17px;
        border-radius: 50% 50% 0 0;
      }
    }
  }

  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
