@import "./variables.scss";
@import "./reseter.scss";
:root {
  min-height: 100vh;
  font-size: 75%;

  @include font-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-alternative;
  text-align: center;
}

::selection {
  color: black;
  background: pink;
}

.title {
  font-size: 2rem;
}
