@import "./variables.scss";
@import "./reseter.scss";
:root {
  min-height: 100vh;
  font-size: 75%;

  @include font-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-alternative;
  text-align: center;
}

::selection {
  color: black;
  background: pink;
}

.title {
  font-size: 3rem;
  font-weight: lighter;
}

body {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.container {
  max-width: 70%;

  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
  margin-top: 6rem;

  background: white;
}
