.recipe-component {
  display: flex;
  flex-direction: column;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    width: calc(100vw - 10rem);
    &__desc {
      textarea {
        resize: none;
      }
    }

    &__span {
      display: block;
    }

    &__select {
      max-width: 15rem;
      padding: 5px;
    }

    &__error {
      color: brown;
    }
  }
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 10rem;
  padding: 2rem;
}
