@import "../../variables.scss";

$border-value: 3px;

.recipe-component {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    z-index: 100;

    display: inline-block;

    width: 30%;

    margin: auto;
    margin-top: 2rem;
    margin-bottom: -1.5rem;

    background-color: white;
  }

  .form {
    max-width: 50%;
    padding: 2rem;
    @include gradient-border;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    width: calc(100vw - 10rem);
    &__desc {
      textarea {
        resize: none;
      }
    }

    &__span {
      display: block;
    }

    &__select {
      max-width: 15rem;
      padding: 5px;
    }

    &__error {
      color: brown;
    }
  }
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 10rem;
  padding: 2rem;
}
